
*{
  box-sizing: border-box;
}

body {
  background-size:980px;
  color: purple;
}
h1 {
  display:inline-block;
  font-size:200%;
}

.button {
  padding: 5px;
  margin: 5px;
}
.techButtons {
  margin-top:25px;
}

.tech-form {
  float: right;
  padding: 10px;
  margin-top: 15px;
}

.gifContainer {
  display:inline-block;
  width:250px;
  height: 250px;
  padding: 15px;
  margin: 10px;
  border:solid 2px black;

}
.size {
  width:90%;
  height:90%;
}




/*css*/
