
*{
  box-sizing: border-box;
}

body {
  background-size:980px;
  color: purple;
}

.button {
  padding: 5px;
  margin: 5px;
}

.tech-form {
  float: right;
}

.gifContainer {
  float: left;
}

#techButtons {
  padding: 3px;
  margin: 3px;
}

/*css*/
